<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Simple Form</title>
</head>
<body>
    <h1> Sign Up</h1>
    <form>
        <input type="text" placeholder="Firstname">
        <input type="text" placeholder="Lastname">
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <input type="password" placeholder="Confirm Password">
        <div>
            <input type="radio" id="male" name="Gender"><label for="male">Male</label>
            <input type="radio" id="Female" name="Gender"><label for="Female">Female</label>
        </div>
        <input type="submit" name="Submit">
    </form>
</body>
</html>